.toptitle {
    background-color: grey;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    font-size: 20px;
}

#location-form {
    margin-left: 10px;
}

.btn {
    margin-top: 20px;
}

#label-text {
    font-size: large;
    font-weight: bold;
}