.toptitle {
    background-color: grey;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    font-size: 20px;
}

#location-form {
    margin-left: 15px;
}

.btn {
    margin-top: 20px;
}

#label-text {
    font-size: large;
    font-weight: bold;
}

.jumbotron {
    margin: 15px;
}

.forecast {
    background-color:dodgerblue;
    margin: 5px;
    color: white;
}

.forecast-date {
    font-size: 12px;
    font-weight: bold;
}

.forecast-temp {
    font-size: 10px;
}

.forecast-hum {
    font-size: 10px;
}